<div class="bg">

    <div style="height: 100px;"></div>
    <div class="card p-3">
        <form [formGroup]="formHeader" (ngSubmit)="onSubmit()" style="margin-bottom: 10px;">
            <div class="row px-3 py-4 mb-5">
                <div class="icon_img col-md-4 text-center">
                    <img class="icon_img" [src]="imageToShow" *ngIf="imageToShow">
                    <input (change)="onSubmit()" class="uploadimagebtn btn btn-block btn-info mt-4" type="file"
                        id="myFile1" name="filename1">
                </div>
                <div class="col-md-8">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Full Name</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="full_name" type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="field_name">Gender</label>
                        </div>
                        <div class="col-md-6">
                            <ng-select formControlName="gender" [items]="genderList" bindLabel="name" bindValue="id"
                                placeholder="Select Gender" appendTo="body" [multiple]="false">
                            </ng-select>
                        </div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Company</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="company" type="text" class="form-control" placeholder="Company">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">DOB</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="dob" type="date" class="form-control" placeholder="DOB">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Contact Number</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="contact_no" type="number" class="form-control"
                                placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Email Address</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="email" type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Experience (years)</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="experience" type="number" class="form-control"
                                placeholder="Experience">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="field_name">Designation</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="designation" type="text" class="form-control"
                                placeholder="Designation">
                        </div>
                    </div>
                    <div class="row form-group" hidden>
                        <div class="col-md-6">
                            <label class="field_name">Password</label>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="password" type="password" class="form-control"
                                placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row pt-5">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>