.field_name {
  font-size: 24px;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon_img {
}

.btn_image {
  height: 35px;
  width: 35px;
}

.btn {
  background-image: linear-gradient(to right, #113e62, #3173a8, #3173a8);
}
