/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.topbar img {
  margin-left: 4.2%;
  width: 150px;
  /* height: 100%; */
  border-radius: 8px;
  /* border: 1px solid black; */
  padding: 50;
}

/* .top {
  position: fixed;
  width: 100%;
} */

.top_centered {
  position: absolute;
  left: 50%;
  transform: translate(-60%, 40%);
  text-align: center;
  color: white;
}

.topbar {
  height: 100px;
  background-image: linear-gradient(90deg, #217cc3, #0864ab);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.btn_style {
  background-color: #113e62;
  color: #ffffff;
}

.logo {
    /* width: 100%; */
    padding: 10px;
    width: 150px;
    /* height: 100%; */
    margin-left: 30px;
}
.exit-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.exit-btn { 
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  /* background: none; */
  cursor: pointer;
  padding: 10px;
  margin: 30px 30px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  border-radius: 8px;
  width: 120px;
  float: right;
  font-size: 1em;
  color: #ffffff;
  background-color: #d45353;
}