<app-main-side-menu></app-main-side-menu>
<div class="top topbar">

    <img class="logo" style="display: inline-block;" src="../../../../assets/img/logo_new.jpeg" alt="Product Image">
    <div class="top_centered" style="display: inline-block;">
        <h1>The Promotion Bundler</h1>
    </div>
    <img style="float: right; height: 50px; width: 50px; margin-top: 20px; margin-right: 30px;"
        src="../../../../assets/img/logout-new.png" (click)="logoutClick()">

    <!-- <img style="float: right; height: 50px; width: 50px; margin-top: 20px; margin-right: 30px;"
        src="../../../../assets/img/bell.png"> -->
</div>