<div class="w3-sidebar w3-light-grey w3-bar-block " style="width: 300px; box-shadow: 4px -1px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px -1px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -1px 17px 0px rgba(0,0,0,0.75);">
  <br>
  <div class="user-panel mt-3 pb-3 mb-3">
    <div class="image" style="text-align: center;">
      <img *ngIf="!imageToShow" src="../../../../assets/img/user.jpg" class="userimage" alt="User Image">
      <img *ngIf="imageToShow" class="userimage" [src]="imageToShow">

    </div>

    <div class="userdetails">
      <span style="font-size: 1.2em;"><b>{{currentUser.full_name}}</b></span>
      <br>
      <span style="font-size: 1em;">{{currentUser.designation}}</span>
      
    </div>

  </div>

<hr style="margin: 10px;"/>
  <div class="sidenav1" *ngIf="currentUser.role==admin">
    <br>

    <a class="w3-bar-item w3-button" routerLink="/system_admin_module/market_dashboard">Market Dashboard</a>
    <a class="w3-bar-item w3-button" routerLink="/system_admin_module/marketer_list">Marketer List</a>
    <a class="w3-bar-item w3-button" routerLink="/system_admin_module/supplier_list">Supplier List</a>
    <a class="w3-bar-item w3-button" routerLink="/system_admin_module/graphicdesigner_list">Graphics Designer List</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="sidenav1" *ngIf="currentUser.role==marketer">
    <br>

    <a class="w3-bar-item w3-button" routerLink="/marketer/dashboard">Dashboard</a>

    <a class="w3-bar-item w3-button" routerLink="/marketer/profile">Profile</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/catalogue_products">Catalogue Products</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/view_recommended_products">View Recommended Products</a>
    <!-- <a class="w3-bar-item w3-button" routerLink="/marketer/catalogue_products">Catalogue Products</a> -->
    <a class="w3-bar-item w3-button" routerLink="/marketer/manage_company_products">Manage Company Products</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/requested_quotations">Requested Quotations</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/request_for_design">Request For Design</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/supplier_profiles">Supplier Profiles</a>
    <a class="w3-bar-item w3-button" routerLink="/marketer/designer_profiles">Designer Profiles</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="sidenav1" *ngIf="currentUser.role==supplier">
    <br>

    <a class="w3-bar-item w3-button" routerLink="/supplier/profile">Profile</a>
    <a class="w3-bar-item w3-button" routerLink="/supplier/manage_products">Manage Products</a>
    <a class="w3-bar-item w3-button" routerLink="/supplier/quotation_list">Requested Quotations</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="sidenav1" *ngIf="currentUser.role==designer">
    <br>

    <a class="w3-bar-item w3-button" routerLink="/graphic_designer/profile">Profile</a>
    <a class="w3-bar-item w3-button" routerLink="/graphic_designer/projects">Request and Received Projetcs</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>


</div>