<div style="height: 100px;"></div>
<div class="header-div">
  <h2>Graphic Designer List</h2>
</div>
<br>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="designertbl" class="table table-bordered table-hover tbl">
            <thead>
                <tr>
                    <th>Designer ID</th>
                    <th>Designer</th>
                    <th>Date Registered</th>
                    <th>Status</th>
                    <th>Last Login</th>
                    <th>Remove Designer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of designerList">
                    <td>{{ list._id }}</td>
                    <td class="profile-link" (click)="viewProfile(list)"><u>{{ list.full_name }}</u> </td>
                    <td>{{ list.created_at | date:'shortDate' }}</td>
                    <td>{{ list.status }}</td>
                    <td>{{ list.last_login }}</td>
                    <td class="tblButton">
                        <button (click)="onDelete(list)" type="button" title="Edit Customer"
                            class="btn table_button_clr">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
