<div style="height: 100px;"></div>
<div class="header-container">
  <img class="backbtn" src="../../../../../assets/img/back.png" (click)="backButtonClick()">
  <h1>{{userdetails.full_name}}</h1>
</div>
<br>
<br>
<!-- <div class="bg"> -->

<div class="row profile-container">
    <!-- detail view -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Contact Number</label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.contact_no}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Email Address</label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.email}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Company</label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.company}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Product/Service oriented </label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.type}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Industry of work</label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.industry}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Experience (years)</label>
            </div>
            <div class="col-md-6">
                <label class="field_value">{{userdetails.experience}}</label>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- image view -->
    <div class="col-md-4">
        <div class="icon_img">
            <img class="icon_img" src="../../../../../assets/img/profile.png">
            <!-- <button class="uploadimagebtn btn btn-block btn-info">Upload</button> -->
        </div>

        <br>
        <br>
    </div>
</div>

<!-- </div> -->
