.profile-container {
  padding-left: 40px;
}

.header-container {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.header-container > img {
  margin: 10px;
  text-align: center;
}
.header-container > h1 {
  margin: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.field_name {
  font-size: 24px;
  font-weight: 800;
}

.field_value {
  font-size: 24px;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.bg {
  background-image: url(../../../../../assets/img/bg1.png);
}

.btn {
  background-image: linear-gradient(to right, #113e62, #3173a8, #3173a8);
}

.backbtn {
  width: 70px;
}
