.bg {
  /* background-image: url(../../../../assets/img/request_design_bg.png); */
  /* height: 200px; */
}

.field_name {
  font-size: 14px;
}

.field_value {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon_img {
}

.btn_image {
  height: 35px;
  width: 35px;
}

.uploadimagebtn {
  width: 100%;
}

.centerview {
  margin-left: 20%;
  margin-right: 20%;
}

.submitbtn {
  width: 100%;
  background-color: #227cc3;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.rowfontstyle {
  color: black;
}

.tbl {
  background-color: white;
}
