<div style="height: 100px;"></div>

<br>
<div class="row">
    <div class="col-md-2">
        <label class="field_name">Search by Status</label>
    </div>
    <div class="col-md-3">
        <ng-select [items]="statusList" bindLabel="name" bindValue="id" placeholder="Select Status" appendTo="body"
            [multiple]="false">
        </ng-select>
    </div>
</div>

<br>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <table id="designertbl" class="table table-bordered table-hover tbl" style="background-color: white;">
            <thead>
                <tr align="center">
                    <th>Requested ID</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Request Status</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of quotationList">
                    <td>{{ list.marketer }}</td>
                    <td>{{ list.product_name }}</td>
                    <td align="center">{{ list.quantity }}</td>
                    <td align="center">{{ list.date | date:'shortDate' }}</td>
                    <td class="tblButton" align="center">
                        <label *ngIf="list.status != 'sent'">
                                {{list.status | titlecase}}
                        </label>
                        <div *ngIf="list.status == 'sent'">
                            <button (click)="onAccept(list)"  type="button" title="Upload"
                                class="btn" style="color: white; float: left; width: 40%;">
                                Accept
                            </button>
                            <button (click)="onReject(list)"  type="button" title="Upload"
                                class="btn" style="color: white; float: right; width: 40%;">
                                Reject
                            </button>
                        </div>
                    </td>

                    <td class="tblButton" align="center">
                        <button type="button" title="View Order Status" (click)="viewOrderStatusClick(list)"
                            class="btn">
                            View Order Status
                        </button>
                    </td>


                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->