<!-- <div class="bg"> -->

<div style="height: 100px;"></div>

<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <input style="margin-left: 7%;" type="text" class="form-control" placeholder="Search Product">
    </div>
    <div class="col-md-3 col-sm-3">
            <label class="field_name sameline">Search by Status</label>
        </div>
        <div class="col-md-2 col-sm-2">
                <ng-select class="sameline space" [items]="statusList" bindLabel="name" bindValue="id"
                placeholder="Select Status" appendTo="body" [multiple]="false">
            </ng-select>
        </div>

</div>

<br>
<div class="" style="margin-left: 8px;">

    <!-- /.card-header -->
    <div class="card-body">
        <table id="designertbl" class="table table-bordered table-hover tbl" style="background-color: whitesmoke;">
            <thead>
                <tr>
                    <th>Requested ID</th>
                    <th>Product</th>
                    <th>Supplier</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Request Status</th>
                    <th>Quotation</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of quotationList">
                    <td>{{ list._id }}</td>
                    <td><a routerLink="/marketer/catalogue_single_product"><u>{{ list.product_name }}</u></a></td>
                    <td><a routerLink="/marketer/supplier_profile_view/{{list.to}}"><u>{{ list.supplier }}</u></a></td>
                    <td>{{ list.quantity }}</td>
                    <td>{{ list.date }}</td>
                    <td>{{ list.status  }}</td>
                    <td>{{ list.file == null || list.file == "" ? "Not Recieved" : "Recieved"}}</td>
                    <td class="tblButton">
                        <button type="button" title="View Order Status" class="btn" (click)="viewOrderStatus(list)">
                            View Order Status
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<!-- </div> -->