<div style="height: 100px;"></div>

<br>

<div class="row">
    <div class="col-md-12">
        <label class="labeltext" (click)="addProduct()"> Add Product </label>
    </div>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let list of productList">
        <div class="card" style="width: 18rem;" style="margin-left: 10%; margin-right: 10%;">
            <div class="card-body">
                <img *ngIf="!list.imageToShow" class="btn_image" src="../../../../assets/img/profile.png" alt="Edit">
                <img *ngIf="list.imageToShow" class="btn_image" [src]="list.imageToShow" alt="Edit">

                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <!-- <button (click)="editProduct(list)" type="button" class="btn btn-block btn-success ">Edit
                                Product</button> -->
                            <button class="viewbtn" (click)="editProduct(list)">Edit Product</button>

                            <button class="deletebtn" (click)="onDelete(list)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="product_detail">{{list.name}}</label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="product_detail">{{list.price}}</label>
                </div>
            </div>
        </div>

        <br>
    </div>
</div>

<br>
<br>
<br>
<br>