<div style="height: 100px;"></div>
<img class="backbtn" src="../../../../../assets/img/back.png" (click)="backButtonClick()">

<h1 style="display: inline-block;">Designer Name</h1>

<br>
<br>
<!-- <div class="bg"> -->

<div class="row">
    <!-- detail view -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Gender</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.gender}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">DOB</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.dob}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Contact Number</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.contact_no}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Email Address</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.email}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Industry of work</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.industry}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Experience (years)</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.experience}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Minimum Pay (LKR)</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.min_pay}}</label>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- image view -->
    <div class="col-md-4">
        <div class="icon_img">
            <img class="icon_img" src="../../../../../assets/img/profile.png">
            <!-- <button class="uploadimagebtn btn btn-block btn-info">Upload</button> -->
        </div>
        <br>
        <br>
        <!-- <img class="icon_img" src="../../../../../assets/img/profile.png"> -->
    </div>
</div>

<!-- </div> -->