.btn {
  display: block;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #3173a8, #113e62, #3173a8);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

/* Split the screen in half */
.split {
  /* margin-top: 100px; */
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #227cc3;
  background-image: linear-gradient(180deg, #ffffff, #227cc3);
}

/* Control the left side */
.left {
  left: 0;
  background-color: #227cc3;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.left::-webkit-scrollbar {
  display: none;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #ffffff;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.right::-webkit-scrollbar {
  display: none;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  /* border-radius: 50%; */
}

.label_style {
  font-size: 26px;
}

p {
  text-decoration: underline;
  font-size: 30px;
}
