<div class="topbar">
    <div class="top_centered">
        <h1>The Promotion Bundler</h1>
    </div>
    <img src="../../../../assets/img/logo.png">
</div>
<div class="top_centered">
    <h1>Forgot Password?</h1>
    <br>
    <h2>Reset your password - An email will be sent to reset your password</h2>

    <br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <input type="text" name="email" id="email" placeholder="Email Address" class="form-control">
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            <button type="button" class="btn btn-block btn-light btn_style">Submit</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-block btn-light btn_style">Cancel</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>