.bg {
  background-color: #f0f0f0;
    margin: 0px 10px;
  /* background-image: url(../../../../assets/img/marketer_bg.png); */
}

.maincard_body {
  background-color: #227cc3;
  font-weight: bold;
  text-align: center;
}

.discountcard_body {
  border-radius: 10px;
  text-align: center;
}
.maincard_content {
  text-align: center;
}

.maincard_content_small {
  height: 30px;
}

.largetext {
  font-size: 30px;
  font-weight: bold;
}

.discounttext {
  font-size: 30px;
  text-align: center;
}

.boldtext {
  font-weight: bold;
}
