<div>
  <div style="height: 100px;"></div>
  <br>
  <div class="col">
    <div class="row" *ngIf="dashboardDetails.quotations_requested !=0">
      <div class="card" style="width: 100%; align-self: center;">
        <div class="card-body">
          <h3 class="card-title" style="margin-bottom: 25px;margin-left: 2.5%">Personal Performance</h3>
          <div class="row">
            <div class="col-7">
              <div class="row">
                <div class="col-md col-xl-6">
                  <div class="card bg-c-blue order-card">
                    <div class="card-block">
                      <h6 class="m-b-20">Quotations Requested</h6>
                      <h2 class="text-right"><i class="fa fa-rocket f-left"
                          style="margin-top: 5px;"></i><span>{{dashboardDetails.quotations_requested || 0}}</span>
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="col-md col-xl-6">
                  <div class="card bg-c-green order-card">
                    <div class="card-block">
                      <h6 class="m-b-20">Invoices Received</h6>
                      <h2 class="text-right"><i class="fa fa-rocket f-left"
                          style="margin-top: 5px;"></i><span>{{dashboardDetails.invoices_received || 0}}</span>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md col-xl-6">
                  <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                      <h6 class="m-b-20">Designs Received</h6>
                      <h2 class="text-right"><i class="fa fa-rocket f-left"
                          style="margin-top: 5px;"></i><span>{{dashboardDetails.designs_requests || 0}}</span>
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="col-md col-xl-6">
                  <div class="card bg-info order-card">
                    <div class="card-block">
                      <h6 class="m-b-20">Overall Orders Placed</h6>
                      <h2 class="text-right">
                        <i class="fa fa-rocket f-left" style="margin-top: 5px;"></i>
                        <span>{{dashboardDetails.overall_orders || 0}}</span>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div style="display: block;">
                <!-- <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" *ngIf="dashboardDetails.quotations_requested ==0">
    <div class="card" style="width: 80%; align-self: center;">
      <div class="card-body">
        <h3 class="card-title" style="margin-bottom: 25px">Personal Performance</h3>
        <div class="row">
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <h6 class="m-b-20">Quotations Requested</h6>
                <h2 class="text-right"><i class="fa fa-rocket f-left"
                    style="margin-top: 5px;"></i><span>{{dashboardDetails.quotations_requested || 0}}</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
              <div class="card-block">
                <h6 class="m-b-20">Invoices Received</h6>
                <h2 class="text-right"><i class="fa fa-rocket f-left"
                    style="margin-top: 5px;"></i><span>{{dashboardDetails.invoices_received || 0}}</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
              <div class="card-block">
                <h6 class="m-b-20">Designs Received</h6>
                <h2 class="text-right"><i class="fa fa-rocket f-left"
                    style="margin-top: 5px;"></i><span>{{dashboardDetails.designs_requests || 0}}</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body">
      <h3 class="card-title" style="margin-bottom: 25px;margin-left: 2.5%">Rankings</h3>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="card bg-c-yellow order-card">
            <div class="card-block">
              <h6 class="m-b-20">Top 3 Rated Suppliers</h6>
            </div>
            <div class="row px-3">
              <!-- <div class="col-md-4">
                <h2 class="text-right"><i class="fa fa-rocket f-left" style="margin-top: 5px;"></i></h2>
              </div> -->
              <div class="col-md-12">
                <div *ngFor="let list of dashboardDetails.top_suppliers">
                  <div class="card-body maincard_content maincard_content_small">{{list}}</div>
                  <hr>
                </div>
              </div>
            </div>
            <!-- <div class="card-body maincard_content maincard_content_small">Suneth Perera</div>
            <hr>
            <div class="card-body maincard_content maincard_content_small">Nanath Jayawickrama</div>
            <hr> -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h6 class="m-b-20">Top 3 Rated Designers</h6>
            </div>
            <div *ngFor="let list of dashboardDetails.top_suppliers">
              <div class="card-body maincard_content maincard_content_small">{{list}}</div>
              <hr>
            </div>
            <!-- <div class="card-body maincard_content maincard_content_small">Roshan G</div>
                        <hr>
                        <div class="card-body maincard_content maincard_content_small">Thiviru</div>
                        <hr> -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="card bg-info order-card">
            <div class="card-block">
              <h6 class="m-b-20">Rewards Recieved</h6>
              <div *ngFor="let list of dashboardDetails.rewards_received">
                <!-- <hr> -->
                <div
                  class="align-items-center d-flex justify-content-center card-body maincard_content maincard_content_small discounttext boldtext">
                  {{list}}
                </div>
                <hr>
              </div>
            </div>
          </div>
          <!-- <div class="card discountcard_body">
              <div
                class="align-items-center d-flex justify-content-center card-body maincard_content maincard_content_small discounttext">
                5% discount</div>
              <hr>
              <div
                class="align-items-center d-flex justify-content-center card-body maincard_content maincard_content_small discounttext boldtext">
                2% discount</div>
              <hr>
              <div
                class="align-items-center d-flex justify-content-center card-body maincard_content maincard_content_small discounttext">
                7% discount</div>
              <hr>
              <div
                class="align-items-center d-flex justify-content-center card-body maincard_content maincard_content_small discounttext">
                Free Design</div>
              <hr>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>