.bg {
  /* background-image: url(../../../../assets/img/marketer_bg.png); */
}

.field_name {
  font-size: 24px;
  margin-left: 20px;
}

.btn {
  color: white;
  background: #0d68af;
}

.backbtn {
  width: 70px;
  display: inline-block;
  padding-right: 20px;
}
