<div class="bg">

    <div style="height: 100px;"></div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- <img class="backbtn" src="../../../../../assets/img/back.png" (click)="backButtonClick()"> -->

            <label class="field_name">{{design_type}}</label>
        </div>
    </div>
    <br>
    <div class="card-body" *ngIf="designerAvailability">
        <table id="suppliertbl" class="table table-bordered table-hover tbl bg-white" style="text-align: center;">
            <thead>
                <tr>
                    <th>Designer</th>
                    <th>Date Applied</th>
                    <th>Request For Designs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of designerList; let i = index;">
                    <td><a routerLink="/marketer/designer_profile_view/{{list.designer_id}}"><u>{{ list.designer_name
                                }}</u></a>
                    </td>
                    <td>{{ list.date | date:'shortDate' }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <!-- <button type="button" title="Upload" class="btn" style="width: 100%;">
                                    Upload
                                </button> -->
                                <input (change)="onFileChange($event,i)" class="uploadimagebtn btn btn-block btn-info"
                                    type="file" id="myFile" name="filename">
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" placeholder="Exact Price"
                                    (change)="priceChange(i, $event)" style="width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input (change)="emailChange(i, $event)" type="text" class="form-control"
                                    placeholder="Email address" style="width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <button (click)="sendClicked(i)" type="button" title="Send" class="btn"
                                    style="width: 100%;">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-body" *ngIf="!designerAvailability">
        <label>No Designers Available</label>
    </div>

</div>