<div class="bg" style="background: #f9f9f9f9;">
  <div style="height: 100px;"></div>
  <div class="col-md-6 mx-auto">
    <!-- <img class="backbtn" src="../../../../../assets/img/back.png" (click)="backButtonClick()"> -->
    <div class="quotation-card p-3 bg-white">
      <div style="margin: 30px;">
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Request ID</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{quotation._id}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Product</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{quotation.product_name}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Supplier</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{userdetails.full_name}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Quantity</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{quotation.quantity}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Date</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{quotation.date | date:'shortDate' }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Quotation Status</label>
          </div>
          <div class="col-md-6">
            <label class="field_value">{{quotation.status | titlecase}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="field_name">Quotation</label>
          </div>
          <div class="col-md-6" *ngIf="!quotationAvailable">
            <label
              class="field_value">{{quotation.file == null || quotation.file == "" ? "Not Recieved" : "Recieved"}}</label>
          </div>
          <div class="col-md-6" *ngIf="quotationAvailable">
            <label class="field_value">
              <a href="http://35.198.253.141/{{quotation.file}}" target="_blank">
                Open Quotation
              </a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-4" *ngIf="invoiceAvailable">
  <div class="col-md-12 mt-5">
    <div class="row">
      <div class="col-md-12">
        <h3><u> Place order </u></h3>
        <table id="designertbl" class="table table-bordered tbl">
          <thead>
            <tr style="text-align: center; font-size: 20px;">
              <th>Supplier</th>
              <th>Action</th>
              <th>Invoice</th>
            </tr>
          </thead>
          <tbody class="">
            <tr>
              <td style="font-size: 18px;">{{ userdetails.full_name }}</td>
              <td class="tblButton">
                <button (click)="acceptClick(userdetails.to)" type="button" title="Upload" class="btn"
                  style="color: white; float: left; width: 50%;background: #1b669f">
                  Accept
                </button>
                <button type="button" title="Upload" class="btn" style="color: white; float: right; width: 50%;background: #1b669f">
                  Reject
                </button>
              </td>
              <td class="tblButton text-center">
                <a href="http://35.198.253.141/{{quotation.invoice}}" target="_blank">
                  <button type="button" title="Upload" class="btn" style="color: white; float: center; width: 50%;background: #1b669f;">
                    <i class="fas fa-copy"></i>
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!invoiceAvailable">
        <label class="field_value">No invoice recieved</label>
      </div>
    </div>
  </div>
</div>