.bg {
  /* background-image: url(../../../../assets/img/marketer_bg.png); */
  min-height: 100vh;
  height: auto;
}

.field_name {
  font-size: 24px;
  padding-left: 50px;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 45px;
}

.icon_img > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.btn_image {
  height: 35px;
  width: 35px;
}

.uploadimagebtn {
  width: 100%;
}
