<div class="bg">

  <div style="height: 100px;"></div>
  <div class="card p-3">
    <form [formGroup]="formHeader" (ngSubmit)="onSubmit()" style="margin-bottom: 10px;">
      <div class="row px-3 py-4 mb-5">
        <div class="icon_img col-md-4 text-center">
          <img [src]="imageToShow1" *ngIf="imageToShow1">
          <input (change)="onFileChange1($event)" class="uploadimagebtn btn btn-block btn-info mt-4" type="file"
            id="myFile1" name="filename1">
        </div>
        <div class="col-md-8">
          <div class="row form-group">
            <div class="col-md-6">
              <label class="field_name">Full Name</label>
            </div>
            <div class="col-md-6">
              <input formControlName="full_name" type="text" class="form-control" placeholder="Full Name">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label class="field_name">Company</label>
            </div>
            <div class="col-md-6">
              <input formControlName="company" type="text" class="form-control" placeholder="Company">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label class="field_name">Contact Number</label>
            </div>
            <div class="col-md-6">
              <input formControlName="contact_no" type="number" class="form-control" placeholder="Contact Number">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label class="field_name">Email address</label>
            </div>
            <div class="col-md-6">
              <input formControlName="email" type="text" class="form-control" placeholder="Email address">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label class="field_name">Designation</label>
            </div>
            <div class="col-md-6">
              <input formControlName="designation" type="text" class="form-control" placeholder="Designation">
            </div>
          </div>
          <div class="row form-group" hidden>
            <div class="col-md-6">
              <label class="field_name">Password</label>
            </div>
            <div class="col-md-6">
              <input formControlName="full_name" type="password" class="form-control" placeholder="Password">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p>Company logo change</p>
      <div class="row px-3 pb-5">
        <!-- image view -->
        <!-- <div class="col-md-4"> -->
          <div class="icon_img px-3">
            <img class="icon_img" [src]="imageToShow2" *ngIf="imageToShow2">
            <input (change)="onFileChange2($event)" class="uploadimagebtn btn btn-block btn-info mt-4" type="file"
              id="myFile2" name="filename2">
          </div>
          <!-- <img class="icon_img" src="../../../../../assets/img/profile.png"> -->
        <!-- </div> -->
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <button type="submit" class="btn btn-block btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>