/* @import '~bootstrap/scss/bootstrap';
 @import '~@fortawesome/fontawesome-free/scss/fontawesome';
 @import '~@fortawesome/fontawesome-free/scss/solid';
 @import '~@fortawesome/fontawesome-free/scss/regular';
 @import '~perfect-scrollbar/css/perfect-scrollbar.css'; */
/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
  font-family: "Frank Ruhl Libre", serif;
  src: url(assets/fonts/FrankRuhlLibre-Light.ttf) format("truetype");
}

body {
  font-size: 0.9rem;
  font-family: 'Quicksand', sans-serif;
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}
.sidebar .ps.ps--scrolling-y > .ps__rail-y,
.sidebar > .ps.ps--scrolling-x > .ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}
.sidebar .ps.ps--active-y > .ps__rail-y:hover,
.sidebar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
  width: 10px !important;
}
.ps__thumb-y {
  background-color: #fff !important;
  width: 6px !important;
  border-radius: 0px !important;
  opacity: 0.5;
}

.btn {
  background-image: linear-gradient(to right, #113e62, #3173a8, #3173a8);
}

.btn:hover {
  background-position: right;
}

.backbtn {
  width: 70px;
  display: inline-block;
  padding-right: 20px;
}

body {
  background-color: #f7f7ed;
}

.backbtn {
  width: 20px;
}
