<div class="bg">

    <div style="height: 100px;"></div>
    <br>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="label_style sameline">Recommended Products for My Company
                Products:</label>
            <ng-select class="sameline space" [items]="companyProductList" bindLabel="name" bindValue="_id"
                placeholder="Select Company Product" appendTo="body" [multiple]="false"
                (change)="onProductChange($event)">
            </ng-select>
        </div>
    </div>
    <br>
    <div class="row justify-content-around">
        <div class="col-md-4 col-sm-8 col-lg-2" style="min-width: 400px;" *ngFor="let list of cardList">
            <div class="card">
                <div class="card-header" style="font-size: 1.1em;"><b>{{list.name}}</b></div>
                <div class="card-body">
                    <img *ngIf="!list.imageToShow" class="card-img-top cover" src="../../../../assets/img/profile.png"
                        alt="Edit">
                    <img *ngIf="list.imageToShow" class="card-img-top cover" [src]="list.imageToShow" alt="Edit">
                    <div class="card-body">
                        <button class="viewbtn" (click)="navigateToProduct(list)">View Product</button>
                    </div>
                    <div class="row">
                        
                            <p class="product_detail" style="text-align: center;"><b>Price - {{list.price}} LKR </b></p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>

</div>