<div class="bg">

    <div style="height: 100px;"></div>
    <br>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <a routerLink="/supplier/add_product/add" class="label_style sameline"><u><i>Add Product</i></u></a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4 col-sm-4" *ngFor="let list of cardList">
            <div class="card" style="width: 80%; margin-left: 10%;">
                <!-- <img class="card-img-top" src="../../../../assets/img/logo_new.jpeg" alt="Product Image"> -->
                <img *ngIf="!list.imageToShow" class="card-img-top cover" src="../../../../assets/img/profile.png"
                    alt="Edit">
                <img *ngIf="list.imageToShow" class="card-img-top cover" [src]="list.imageToShow" alt="Edit">
                <div class="card-body">
                    <button class="viewbtn" (click)="navigateToProduct(list)">Edit Product</button>
                    <button class="deletebtn" (click)="onDelete(list)">
                        <i class="fas fa-trash"></i>
                    </button>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label class="product_detail">{{list.name}}</label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label class="product_float">{{list.price}}</label>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <br>
    <br>
    <br>

</div>