<div style="height: 100px;"></div>

<img class="backbtn" src="../../../../../assets/img/back.png" (click)="backButtonClick()">

<h1 style="display: inline-block;">Marketer Name</h1>

<br>
<br>
<!-- <div class="bg"> -->

<div class="row">
    <!-- detail view -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Contact Number</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.contact_no}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Email Address</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.email}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Company</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.company}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Designation</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.designation}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Product/Service oriented </label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.type}}</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="field_name">Industry of work</label>
            </div>
            <div class="col-md-6">
                <label class="field_name">{{userdetails.industry}}</label>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- image view -->
    <div class="col-md-4">
        <div class="icon_img">
            <img class="icon_img" src="../../../../../assets/img/profile.png">
            <!-- <button class="uploadimagebtn btn btn-block btn-info">Upload</button> -->
        </div>
        <br>
        <div class="icon_img">
            <img class="icon_img" src="../../../../../assets/img/profile.png">
            <!-- <button class="uploadimagebtn btn btn-block btn-info">Upload</button> -->
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

<!-- </div> -->